.electricity_standard_price, .water_standard_price, .garbage_standard_price  {
    width: 255px;
}

#electricity_modified_date, #water_modified_date, #garbage_modified_date {
    margin-left: 5px;
    width: 150px;
}

#from-date-electricity, #from-date-water, #from-date-garbage {
    margin-left: 1em;
    margin-right: 0.5em;
}

h2 {
    color: #0000ff;
}

h3 {
    color: orangered;
}

.table_electricity, .table_water, .table_garbage {
    width: 250px;
}

.left_info {
    float: left;
    width: 230px;
}

img:hover {
    cursor: hand;
}

input[type=text]:focus, textarea:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid rgba(81, 203, 238, 1);
}

input[type=text] {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}

.invalid {
    border: 1px solid #CB000F;
    color: red
}

.valid {
    color: #000000;
}

.dlg-no-title .ui-dialog-titlebar {
    display: none;
}
